/* ==========	STYLE FOR LOGIN FORM =============== */
.loginbox .loginform .form-label{
    float: none;
    padding-top: 5px;
    text-align: left;
    width: auto;
}
.loginbox .loginform .form-input{
    background: #fff none repeat scroll 0 0;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    float: none;
    padding: 8px;
    width: auto;
}
.loginbox .loginform .form-input input {
    border: medium none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.loginbox #login {
    background: #fff;
    padding: 25px 25px 45px;
    position: relative;
}
.loginbox #login .form-input{
    border-bottom: dotted 1px #ccc;
    padding: 0 0 2px 0;
    margin-bottom: 8px;
}

.loginbox .loginpanel .subcontent{
    max-width: 500px;
    margin:auto;
}
.loginbox .loginsub {
    max-width: 500px;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
}
.loginbox .loginpanel .desc {
    font-style: italic;
    margin-top: 20px;
    text-align: left;
}
h1, h2, h3, h4, h5, h6, .back-to-top, .socials p, #socialheading, .forumpost .subject {
    font-family: "Segoe UI","Ubuntu", sans-serif;
    color: #555;
}
.loginbox #loginbtn {
    margin: 20px auto;
    width: 100%;
}
.loginbox .forgetpass {
    background-color: #ddd;
    bottom: 0;
    left: 0;
    padding: 8px 0;
    position: absolute;
    width: 100%;
}
.loginbox .forgetpass > a {
    padding-left: 25px;
}
a.singinprovider .social-button.google {
    background-color: #dc4e41;
}
a.singinprovider .social-button.facebook {
    background-color: #3b5998;
}
a.singinprovider .social-button {
    text-align: center;
    background: #ccc;
    display: inline-block;
    text-align: left;
    min-width: 185px;
    color: #fff;
    padding: 7px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    transition: background-color 0.15s;
}
.social-button {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background: #ccc;
    display: inline-block;
    text-align: left;
    min-width: 185px;
    color: #fff;
    padding: 7px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    transition: background-color 0.15s;
}
.social-button.google {
    background-color: #dc4e41;
}
.social-button.facebook {
    background-color: #3b5998;
}

a.singinprovider .social-button.facebook::before {
    content: "\f09a";
}
a.singinprovider .social-button::before {
    background-color: rgba(0, 0, 0, 0.15);
    margin: -7px 10px -7px -7px;
    padding: 7px;
    text-indent: 0;
    vertical-align: bottom;
    font-size: 20px;
    position: relative;
    top: 0;
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    min-width: 24px;
    line-height: unset;
    text-align: center;
    content: "\f090";
}
.social-button.facebook::before {
    content: "\f09a";
}
.social-button::before {
    background-color: rgba(0, 0, 0, 0.15);
    margin: -7px 10px -7px -7px;
    padding: 7px;
    text-indent: 0;
    vertical-align: bottom;
    font-size: 22px;
    position: relative;
    top: 0;
    display: inline-block;
    font-family: "googleoauth2-icomoon";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    min-width: 24px;
    line-height: 1;
    text-align: center;
    content: "\f090";
}
/* ==========	STYLE FOR COURSE VIEW =============== */

.content h3.sectionname {
    padding: 8px 0;
    color: #666;
    border-color: #fff #fff #fff #e2a500;
    border-style: solid;
    border-width: 1px 1px 1px 3px;
    padding-left: 4px;
    margin-top: 0;
}
.course-content ul li.section{
    padding-top: 10px;
    background-color: #fff;
}
.span-first{
    margin-left: 0px !important;
    min-height: 1px !important;
}
.course-box-height{
    height:300px !important ;
}
.userprofile .profile_tree section{
    background-color: #fff;
}
/*linh them css*/
.container-available-course #courseTabContent {
    margin-top: 25px;
}
.tab-content>.active {
    display: block;
}
.tab-content>.tab-pane {
    display: none;
}
.fade.in {
    opacity: 1;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
#enrol-course-list .container-available-course .coursebox {
    position: relative;
    display: block;
    margin-bottom: 10px;
    border-bottom: dotted 1px #ddd;
    margin-top: 0;
    padding: 10px 0;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
#enrol-course-list .container-available-course .coursebox .course-image {
    display: block;
}
.col-sm-3 {
    width: 60%;
    position: relative;
    min-height: 1px;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
}
.col-sm-9 {
    width: 40%;
    position: relative;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    /*margin-bottom: 10px;*/
}

.quizattemptcounts a, .resourceworkaround a, .introattachments-image div a, .box a, .assignment-info-fix a, .lastcol a, .noti-content a {
    color: #187bb2;
}
.noti-content a {
    color: #337ab7;
}
.btn-el-reg {
    color: #fff !important;
    float: left;
    margin-top: 5px;
    background-color: #187bb2;
    border-color: #187bb2;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a {
    color: #337ab7;
}
a {
    color: #337ab7;
    text-decoration: none;
}
.el-badge {
    float: right;
    background-color: #187bb2;
    padding: 18px 0;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
}
.el-badge {
    width: 50px;
    height: 20px;
}
.el-sidebar {
    background-color: #ececec;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 2px;
}
.el-sidebar .el-sidebar-heading {
    margin-top: 0;
    padding-bottom: 6px;
    text-transform: uppercase;
    color: #187bb2;
    text-align: left;
    border-bottom: solid 1px #ddd;
    font-size: 20px;
    font-weight: 500;
}
#enrol-course-list .container-available-course .el-profile-block {
    background-color: #ececec;
    border-radius: 2px;
    padding: 10px 0;
    margin-bottom: 20px;
}
.col-md-7 {
    width: 56.33333333%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-sm-7 {
    width: 56.33333333%;
}
#enrol-course-list .container-available-course .el-profile-block .el-profile-info label {
    margin-left: 0;
    text-transform: uppercase !important;
    font-size: 23px;
    font-weight: 500;
}
#enrol-course-list .container-available-course .el-profile-block .el-profile-info label, #enrol-course-list .container-available-course .el-profile-block .el-profile-info a {
    display: block;
}
label {
    padding-right: 10px;
    padding-top: 10px;
    margin-left: 0px;
}
#enrol-course-list .container-available-course .el-profile-block .el-certificate {
    display: table;
    position: relative;
    text-align: right;
}
.col-md-5 {
    width: 43.66666667%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-sm-5 {
    width: 43.66666667%;
}

#enrol-course-list .container-available-course .el-profile-block .el-certificate .certificate-img {
    float: right;
}
#enrol-course-list .container-available-course .el-profile-block .el-certificate .certificate-img, #enrol-course-list .container-available-course .el-profile-block .el-certificate .certificate-info {
    display: table-cell;
    vertical-align: middle;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
#enrol-course-list .container-available-course .el-profile-block .el-certificate .certificate-info {
    text-align: left;
}
#enrol-course-list .container-available-course .el-profile-block .el-certificate .certificate-img, #enrol-course-list .container-available-course .el-profile-block .el-certificate .certificate-info {
    display: table-cell;
    vertical-align: middle;
}

/**/
ul#enroltabs {
    border-bottom: solid 1px #ddd;
    margin-left: 0 !important;
}
.noti-content-main ul.nav-tabs {
    margin: 0;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
ul#enroltabs>li {
    margin-right: 15px;
}
.nav-tabs > li, .box.message .messagearea .messagehistory .messagehistorytype span.visible, .box.message .messagearea .messagehistory .messagehistorytype a.visible {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}
.col-md-3{
    width: 25%;
    position: relative;
    /*min-height: 1px;*/
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/

}
.col-md-9 {
    width: 75%;
    position: relative;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    /*margin-bottom: 10px;*/
}